<div class=" h-[310px] bg-stone-100 flex-col justify-center items-center inline-flex">
    <div class="py-10 flex-col justify-center items-center gap-2.5 flex">
        <div class="text-center text-sky-800 text-4xl font-bold font-['IBM Plex Sans'] uppercase">
            {{ title }}
            </div>
        <div class="opacity-80 text-center text-sky-800 text-base font-normal font-['Circular TT'] leading-loose">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
    </div>
</div>