<side class="sidebar 
        
col-span-1 bg-cyan-100 h-full ">
<div class="">
    <div class="text-left text-sky-800 text-2xl font-bold font-['IBM Plex Sans'] capitalize">Colors</div>
<div class="w-[220px]">
<div class="w-[220px] h-[196px] mt-2">
    <div class="">
        <div class="gap-2 flex-col justify-start items-start inline-flex">
            <div class="cursor-pointer hover:ring-1 justify-start items-center flex gap-2">
            <span class="w-6 h-6  bg-black"></span>
                <span class="text-sky-800 text-[13px] font-normal font-['Circular TT']">Black</span>
            </div>
            <div class="cursor-pointer hover:ring-1  justify-start items-center flex gap-2">
            <span class="w-6 h-6  bg-white border border border-opacity-40 border-black"></span>
                <span class="text-sky-800 text-[13px] font-normal font-['Circular TT']">White</span>
            </div>
            
            <div class="cursor-pointer hover:ring-1  justify-start items-center flex gap-2">
                <span class="w-6 h-6  bg-blue-500 "></span>
                    <span class="text-sky-800 text-[13px] font-normal font-['Circular TT']">Blue</span>
                </div>
                <div class="cursor-pointer hover:ring-1  justify-start items-center flex gap-2">
                    <span class="w-6 h-6  bg-red-600 "></span>
                        <span class="text-sky-800 text-[13px] font-normal font-['Circular TT']">Red</span>
                    </div>
                    <div class="cursor-pointer hover:ring-1  justify-start items-center flex gap-2">
                        <span class="w-6 h-6  bg-gray-400 "></span>
                            <span class="text-sky-800 text-[13px] font-normal font-['Circular TT']">Gray</span>
                        </div>

        </div>
    </div>
</div>

</div>
<div class="flex-col justify-start items-start gap-3.5 flex mb-12">
<div class="text-center text-sky-800 text-2xl font-bold font-['IBM Plex Sans'] capitalize">Size</div>
<div class="flex justify-between items-center w-[180px]">
    <span class="w-6 h-6 border border-sky-800"></span>
    <span class="text-sky-800 text-sm font-normal font-['Circular TT'] justify-self-end mr-auto pl-2">Small</span>
    <span class="text-sky-800 text-sm font-normal font-['Circular TT'] leading-tight">12 </span>
</div>
<div class="flex justify-between items-center w-[180px]">
    <span class="w-6 h-6 border border-sky-800"></span>
    <span class="text-sky-800 text-sm font-normal font-['Circular TT'] justify-self-end mr-auto pl-2">Medium</span>
    <span class="text-sky-800 text-sm font-normal font-['Circular TT'] leading-tight">25 </span>
</div>
<div class="flex justify-between items-center w-[180px]">
    <span class="w-6 h-6 bg-sky-600"></span>
    <span class="text-sky-800 text-sm font-normal font-['Circular TT'] justify-self-end mr-auto pl-2">Large</span>
    <span class="text-sky-800 text-sm font-normal font-['Circular TT'] leading-tight">5ß </span>
</div>


</div>
<div class="flex-col justify-start items-start gap-[15px] flex">
<div class="text-center text-sky-800 text-2xl font-bold font-['IBM Plex Sans'] capitalize">Price</div>
<div class="flex-col justify-start items-start gap-2.5 flex">
    <div class="flex justify-between items-center w-[180px]">
        <span class="w-6 h-6 bg-sky-600"></span>
        <span class="text-sky-800 text-sm font-normal font-['Circular TT'] justify-self-end mr-auto pl-2">€50</span>
        <span class="text-sky-800 text-sm font-normal font-['Circular TT'] leading-tight">23 </span>
    </div>
    <div class="flex justify-between items-center w-[180px]">
        <span class="w-6 h-6 bg-white border border-sky-800"></span>
        <span class="text-sky-800 text-sm font-normal font-['Circular TT'] justify-self-end mr-auto pl-2">€50 - €100</span>
        <span class="text-sky-800 text-sm font-normal font-['Circular TT'] leading-tight">23 </span>
    </div>
    <div class="flex justify-between items-center w-[180px]">
        <span class="w-6 h-6 bg-white border border-sky-800"></span>
        <span class="text-sky-800 text-sm font-normal font-['Circular TT'] justify-self-end mr-auto pl-2">€150</span>
        <span class="text-sky-800 text-sm font-normal font-['Circular TT'] leading-tight">23 </span>
    </div>

</div>
</div>



</div>


</side>