<div class="sf-banner h-[300px]  bg-cover bg-center" style="background-image: url({{ 'slide-1.jpg' | asset_url  }});">
    <div class="grid place-content-center h-full ">
        <div class=" text-white text-4xl font-bold font-['IBM Plex Sans'] uppercase">
            {{ title }}
        </div>
    </div>
</div>