
<div class="featured-collections mt-4">
    <div class="container mx-auto grid-cols-1 grid md:grid-cols-2 gap-2">
        <div class="featured-c min-h-[300px] bg-green-500 flex">
            <div class="w-1/2 basis-1/2 h-full"> 
            <img class="h-full w-full" src="{{'index-img-2.png' | asset_url }}" alt="">
            </div>
           
            <div class="basis-1/2 h-full bg-sky-600 flex flex-col items-start justify-center gap-4 p-4">
                <div class="text-left text-white text-3xl lg:text-4xl font-bold font-['IBM Plex Sans'] uppercase">Hiking Essentials</div>
                <div class="text-white text-base font-normal font-['IBM Plex Sans'] leading-relaxed">Nullan quis risus eget urna mollis ornare vel eu leo.</div>
                <div class="">
                    <div class=" px-8 py-4 border-2 border-white flex-col justify-start items-center inline-flex">
                        <div class="text-center text-white text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase leading-[14px] tracking-wider">shop hiking</div>
                    </div>
                </div>
              
             
            </div>
           

        </div>
        <div class="featured-c min-h-[300px] bg-red-500 flex">
          
            <div class="h-full basis-1/2">
            <img class="h-full w-full" src="{{'index-img-3.png' | asset_url }}" alt="">

            </div> 
            <div class="p-4 basis-1/2 h-full bg-sky-800 flex-col justify-center items-start gap-[15px] inline-flex">
            <div class="text-left text-white  text-2xl lg:text-4xl font-bold font-['IBM Plex Sans'] uppercase ">Accessories</div>
            <div class="text-white text-base font-normal font-['IBM Plex Sans'] leading-relaxed">Nullan quis risus eget urna mollis ornare vel eu leo.</div>
            <div class="">
                <div class=" px-8 py-4 border-2 border-white flex-col justify-start items-center inline-flex">
                    <div class="text-center text-white text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase md:leading-[14px] md:tracking-wider">shop accessories</div>
                </div>
            </div>
        </div>

        </div>
        <div class="featured-c relative min-h-[300px] bg-blue-500 md:row-start-1 md:row-end-3 md:col-start-2  md:col-end-3 bg-cover"  style="background-image:url({{'index-img-1.jpg' | asset_url}})">
     
        <div class="content absolute inset-0 bg-black bg-opacity-60">
            <div class="flex justify-center items-center gap-4 h-full flex-col">
                <div class=" text-center text-white text-[50px] lg:text-[66px] font-bold font-['IBM Plex Sans'] uppercase lg:leading-[66px]">outdoor essentials</div>
                <div class="text-center text-white text-base font-normal font-['IBM Plex Sans'] leading-relaxed">Curabitur blandit tempus porttitor. Maecenas faucibus mollis.</div>
                <div class="justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch px-8 py-4 border-2 border-white flex-col justify-start items-center inline-flex">
                        <div class="text-center text-white text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase md:leading-[14px] md:tracking-wider">shop outdoor essentials</div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
