<div class="container mx-auto  px-[60px] py-[90px] bg-stone-100 flex-col justify-start items-center gap-[30px] flex">
    <div class="text-center text-zinc-800 text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase tracking-wide">Quisque velit nisi-</div>
    <div class="text-center text-zinc-800 sm:text-4xl md:text-[66px] font-bold font-['IBM Plex Sans'] uppercase md:leading-[66px]">"Pellentesque in ipsum id orci porta dapibus."</div>
    <ul class="max-w-full flex items-center justify-center flex-col md:flex-row">
      {% for i in (1..4) %}
        <div class="flex gap-2.5 flex-col">
            <li class=" w-[60px] h-[60px] relative">
                <div class="w-[60px] h-[60px] left-[-0px] top-[-0px] absolute">
                </div>
            </li>
            <div class="text-center text-zinc-800 text-3xl font-bold font-['IBM Plex Sans'] uppercase">WE love outdoors</div>
            <div class="self-stretch text-center text-zinc-800 text-base font-normal font-['IBM Plex Sans'] leading-relaxed">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
        </div>
      {% endfor %}
      
    </ul>
    <div class="w-[277px] h-[52px] pl-[92px] pr-[91px] border-2 border-sky-800 justify-center items-center inline-flex">
        <div class="text-center text-sky-800 text-sm font-bold font-['IBM Plex Sans Condensed'] uppercase leading-[14px] tracking-wider">learn more</div>
    </div>
</div>