
<div class="slideshow-classic relative">
   <div class="container mx-auto gap-4 relative">
    <div> 
    <swiper-container 
    slides-per-view="1" 
    speed="500" 
    loop="true" 
    class="hero-swiper-2 max-w-full" 
    autoplay="true"
    pagination="true"
    >
       {% for i in (1..3) %}
        <swiper-slide>

        <div loading="lazy" class="slide min-w-sm sm:h-[350px] md:h-[578px] bg-gray-700 flex items-center justify-center"
        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url({{'slide-2.jpg' | asset_url}}) lightgray 50% / cover no-repeat;"> 
        
           <article class="z-10 content text-center flex items-center justify-center flex-col gap-4" >
               <p class="uppercase"> everything you need to know</p>
               <h2 class="uppercase"> fishing </h2>
               <p class="mb-8">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
               <a href="">
                 <span class="btn-v1 uppercase"> SHOP FISHING </span>
               </a>
               
             </article>
        </div>
        </swiper-slide>
        
       {% endfor %}
     </swiper-container>
     </div>
     <div class=""> 
    <swiper-container 
    slides-per-view="1" 
    speed="1500" 
    delay="1000"
    loop="true" 
    class="hero-swiper-1 max-w-full" 
    autoplay="true"w
    pagination="true"
    init="true"
    >
       {% for x in (1..3) %}
        <swiper-slide style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url({{'slide-2.jpg' | asset_url}}) lightgray 50% / cover no-repeat;">
          <div class="sm:h-[350px] md:h-[578px] bg-black bg-opacity-30 justify-center items-center flex">
    <div class="self-stretch flex-col justify-center items-center gap-10 inline-flex">
        <div class="flex-col justify-start items-center gap-3 flex">
          <article class="z-10 content text-center flex items-center justify-center flex-col gap-4" >
               <p class="uppercase"> everything you need to know</p>
               <h2 class="uppercase"> outdoor </h2>
               <p class="mb-8">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
               <a href="">
                 <span class="btn-v1 uppercase"> SHOP outdoor </span>
               </a>
               
             </article>
        </div>
    </div>
</div>

    
        </swiper-slide>
        
       {% endfor %}
     </swiper-container>
     </div>
       
    
   </div>
</div> 

