<div class="basic-content-page">
    <div class="container grid grid-cols-4 mx-auto">
        <div class="cols-span-3 min-h-screen bg-green">

        </div>
        <div class="cols-span-1 bg-key-800 min-h-screen">

        </div>
    </div>
</div>