<div class="container mx-auto h-[314px] px-5  bg-cover  " style="background-image: url({{'index-img-4.png' | asset_url }});">
    <div class="grid place-items-center h-full">
        <div class=""> 
            <div class="bg-white h-[247px] p-8 max-w-full ">
                <div class="text-center text-zinc-800 text-4xl font-bold font-['IBM Ple x Sans'] uppercase">join our Newsletter</div>
                <div class="text-center opacity-60 text-center text-zinc-800 text-base font-normal font-['IBM Plex Sans'] leading-relaxed mb-4">Be the first to know about our offers, events &  new arrivals</div>
               
                <label class=" text-left text-sky-800 text-sm font-normal font-['Circular TT'] capitalize leading-[16.80px] tracking-wide" for="newsletter-input">Email Adress</label>
                <div class="relative grid md:grid-cols-2 gap-8">
                    <form action="" class="w-full h-full bg-green-300" id="newletterform">
                      
                        <input type="email" id="newsletter-input" class="w-full h-[52px] relative bg-stone-100" >
                    </form>
                    <div class="h-[52px] py-[18px] bg-sky-800 mid-center">
                        <button form="newletterform" class="w-full h-full text-center text-white text-base font-bold font-['IBM Plex Sans'] uppercase leading-none tracking-wider">
                            Sign up
                        </button>
                    </div>
              
                </div>
            </div>
           


            
        </div>
    </div>
</div>