

<div class="slideshow-classic relative">
   <div class="container mx-auto gap-4 grid md:grid-cols-2  relative">
    {% for block in section.blocks %}
      {% render 'sf9-single-slider',block:block %}

    {% endfor %}
    
   </div>
</div> 
{% schema %}
  {
    "name": "Dual Slider",
     "settings":[],
     "max_blocks": 2, 

     "blocks": [
    {
      "name": "Left slide",
      "type": "slide_1_content",
      
      "settings": [
        {
          "type":"header",
          "content":"First Slide"
        },
        {
          "type": "image_picker",
          "id": "img_1",
          "label": "Right image"
        },
        {
          "type": "text",
          "id": "small_text_1",
          "label": "Small text",
          "default": "everything you need to know"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "Heading",
          "default": "Fishing"
        },
        {
          "type": "text",
          "id": "paragraph_1",
          "label": "Paragraph",
          "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        }, {
          "type": "text",
          "id": "button_text_1",
          "label": "Button text",
          "default": "Shop"
        }, {
          "type": "url",
          "id": "btn_url_1",
          "label": "Button URL"
         
        },
        {
          "type": "checkbox",
          "id": "toggle_1",
          "label": "Show/Hide Slide",
          "default": true
         
        },
        {
          "type":"header",
          "content":"Second Slide"
        },
        {
          "type": "image_picker",
          "id": "img_2",
          "label": "Right image"
        },
        {
          "type": "text",
          "id": "small_text_2",
          "label": "Small text",
          "default": "everything you need to know"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "Heading",
          "default": "Fishing"
        },
        {
          "type": "text",
          "id": "paragraph_2",
          "label": "Paragraph",
          "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        }, {
          "type": "text",
          "id": "button_text_2",
          "label": "Button text",
          "default": "Shop"
        }, {
          "type": "url",
          "id": "btn_url_2",
          "label": "Button URL"
         
        },
        {
          "type": "checkbox",
          "id": "toggle_2",
          "label": "Show/Hide Slide",
          "default": true
         
        },
        {
          "type":"header",
          "content":"Third Slide"
        },
        {
          "type": "image_picker",
          "id": "img_3",
          "label": "Right image"
        },
        {
          "type": "text",
          "id": "small_text_3",
          "label": "Small text",
          "default": "everything you need to know"
        },
        {
          "type": "text",
          "id": "heading_3",
          "label": "Heading",
          "default": "Fishing"
        },
        {
          "type": "text",
          "id": "paragraph_3",
          "label": "Paragraph",
          "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        }, {
          "type": "text",
          "id": "button_text_3",
          "label": "Button text",
          "default": "Shop"
        }, {
          "type": "url",
          "id": "btn_url_3",
          "label": "Button URL"
         
        },
        {
          "type": "checkbox",
          "id": "toggle_3",
          "label": "Show/Hide Slide",
          "default": true
         
        }
      ]
    },
    {
      "name": "Right slide",
      "type": "slide_2_content",
   
      "settings": [
  
        {
          "type":"header",
          "content":"First Slide"
        },
      
        {
          "type": "image_picker",
          "id": "img_1",
          "label": "Right image"
        },
        {
          "type": "text",
          "id": "small_text_1",
          "label": "Small text",
          "default": "everything you need to know"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "Heading",
          "default": "Fishing"
        },
        {
          "type": "text",
          "id": "paragraph_1",
          "label": "Paragraph",
          "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        }, {
          "type": "text",
          "id": "button_text_1",
          "label": "Button text",
          "default": "Shop"
        }, {
          "type": "url",
          "id": "btn_url_1",
          "label": "Button URL"
         
        },
        {
          "type": "checkbox",
          "id": "toggle_1",
          "label": "Show/Hide Slide",
          "default": true
         
        },
        {
          "type":"header",
          "content":"Second Slide"
        },
        {
          "type": "image_picker",
          "id": "img_2",
          "label": "Right image"
        },
        {
          "type": "text",
          "id": "small_text_2",
          "label": "Small text",
          "default": "everything you need to know"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "Heading",
          "default": "Fishing"
        },
        {
          "type": "text",
          "id": "paragraph_2",
          "label": "Paragraph",
          "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        }, {
          "type": "text",
          "id": "button_text_2",
          "label": "Button text",
          "default": "Shop"
        }, {
          "type": "url",
          "id": "btn_url_2",
          "label": "Button URL"
         
        },
        {
          "type": "checkbox",
          "id": "toggle_2",
          "label": "Show/Hide Slide",
          "default": true
         
        },
        {
          "type":"header",
          "content":"Third Slide"
        },
        {
          "type": "image_picker",
          "id": "img_3",
          "label": "Right image"
        },
        {
          "type": "text",
          "id": "small_text_3",
          "label": "Small text",
          "default": "everything you need to know"
        },
        {
          "type": "text",
          "id": "heading_3",
          "label": "Heading",
          "default": "Fishing"
        },
        {
          "type": "text",
          "id": "paragraph_3",
          "label": "Paragraph",
          "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
        }, {
          "type": "text",
          "id": "button_text_3",
          "label": "Button text",
          "default": "Shop"
        }, {
          "type": "url",
          "id": "btn_url_3",
          "label": "Button URL"
         
        },
        {
          "type": "checkbox",
          "id": "toggle_3",
          "label": "Show/Hide Slide",
          "default": true
         
        }
      ]
    }
  ],
    "presets": [{
      "name": "Dual Slider"
    }]
  }
  {% endschema %}