<div class="usp-bar mt-4">
    <ul class="container mx-auto flex justify-around items-center gap-[5%] h-[90px]" style="background-color: {{ section.settings.color }} ;">
        {% for block in section.blocks %}
            <li class="flex items-center gap-2">
                <span> <img src="{{ block.settings.img | image_url: width:'20'  }}" alt=""> </span>
             <span> {{ block.settings.text  }} </span>
        
            </li>
        {% endfor %}
       
    </ul>

</div>

{% schema %}
{
    "name": "Delivery Features",
    "max_blocks": 3,
    "settings": [{
      "type": "color",
      "id": "color",
      "label": "Background Color",
      "default": "#004289"
    }
        
        ],
      "blocks":[
        {
            "type":"feature",
            "name":"Feature",
            "settings": [
                {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "28 Days Return"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Icon"
    }
    
            ]
        }

      ],
      "presets": [
        {
            "name":"Delivery Features"
        }
      ]  
}
{% endschema %}